## Ignore build outputs and Blazor published assets
bin/
obj/
**/bin/
**/obj/

# Blazor framework artifacts
**/wwwroot/_framework/

# Local DB
*.db
app.db

# VS Code
.vscode/

# Logs
*.log

# Temporary
*.tmp

# Local development secrets
Server/appsettings.Development.json
Server/appsettings.Development.json
